name: Deploy (Manual)

on:
  workflow_dispatch:
    inputs:
      target_environment:
        description: "Select the deployment environment"
        required: true
        type: choice
        options:
          - Development
          - Production
      branch_name:
        description: "Branch to deploy"
        required: true
        default: "master"
        type: string
      deploy_chargefw2:
        description: "Rebuild ChargeFW2"
        type: boolean
        required: false
        default: false
      deploy_api:
        description: "Deploy API"
        type: boolean
        required: false
        default: false
      deploy_web:
        description: "Deploy Web"
        type: boolean
        required: false
        default: false
      deploy_nginx:
        description: "Deploy Nginx"
        type: boolean
        required: false
        default: false

jobs:
  call-deploy-logic:
    uses: ./.github/workflows/deploy-logic.yml
    with:
      target_environment: ${{ inputs.target_environment }}
      branch_name: ${{ inputs.branch_name }}
      deploy_chargefw2: ${{ inputs.deploy_chargefw2 }}
      deploy_api: ${{ inputs.deploy_api }}
      deploy_web: ${{ inputs.deploy_web }}
      deploy_nginx: ${{ inputs.deploy_nginx }}
    secrets: inherit
